body {
  margin: 0;
  padding: 0;
  background-color: rgb(237, 237, 237);
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

h1 h1, h2 h1, h3 h1, h4 h1, h5 h1, h6 h1 {
  font-size: 4rem;
  font-style: italic;
}

h1 h2, h2 h2, h3 h2, h4 h2, h5 h2, h6 h2 {
  font-size: 3rem;
  font-style: italic;
}

h1 h3, h2 h3, h3 h3, h4 h3, h5 h3, h6 h3 {
  font-size: 2rem;
  font-style: italic;
}

h1 h4, h2 h4, h3 h4, h4 h4, h5 h4, h6 h4 {
  font-size: 1.5rem;
  font-style: normal;
}

h1 h5, h1 h6, h2 h5, h2 h6, h3 h5, h3 h6, h4 h5, h4 h6, h5 h5, h5 h6, h6 h5, h6 h6 {
  font-weight: 500;
  font-style: normal;
}

/* Navigation bar navbar --/-- Barra de navegación */
.navbar {
  background-color: rgb(255, 232, 0);
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  align-items: center;
  justify-content: center;
}

/* Section presentation --/-- Sección de presentacion */
.presentation {
    background-color: rgb(204, 204, 204);
    min-height: 100px;
    text-align: center;
    padding: 1.5rem;
}

/* exhibition section --/-- sección de exhibición */
.exhibition {
    padding: 40px 40px 60px 40px;
}

.exhibition .column {
    padding: 20px;
    border: 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.exhibition .column:hover {
    color: white;
    background-color: #1b1b32;
}

.exhibition .spare-parts {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.exhibition i {
    font-size: 2rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 12px;
    border-radius: 50%;
}

.badges-container {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* Carousel care-staff --/-- Carrusel personal de atención */
.work-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-team .carousel {
    max-width: 800px;
}

.work-team .carousel-item {
    height: 400px;
}

.work-team .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.care-image {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.care-text {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
}

.care-info {
    font-weight: bold;
    text-align: center;
}

.care-info p {
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {
    .care-image {
        height: 120px;
        width: 120px;
    }

    .care-text {
        font-size: 18px;
    }
}

/* Footer --/-- Pie de pagina */
footer {
    min-height: 250px;
    background-color: #1b1b32;
}

.iconos-redes a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes a:hover i {
    color: black;
}

.copyright {
    font-size: 15px;
    color: #aeaeae;
    padding: 10px;
}

/* page about us --/-- pagina sobre nosotros */
.mission {
    padding: 50px 100px 50px 100px;
    min-height: 480px;
    text-align: center;
}

.vision {
    padding: 50px 100px 50px 100px;
    min-height: 480px;
    text-align: center;
}

.our {
    padding: 50px 100px 50px 100px;
    min-height: 480px;
    text-align: center;
}